@{
    ViewData["Title"] = "Home";
}

<div id= "index" class="amado_product_area section-padding-100">
    <div class="container">
        <h1>
            Radioactive
        </h1>
        <hr/>
        <h1>
            Roadside
        </h1>
        <hr />
        <h1>
            Roadkill
        </h1>
        <hr />
        <h1>
            Removal
        </h1>
        <hr />
        <h1>
            Supply
        </h1>
        <hr />
        <h1>
            Store
        </h1>
        <hr />
    </div>
</div>
<div  class="amado_product_area section-padding-100">
    <div class="container">
        
    </div>
</div>